.main-page__wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
  height: 60px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container button {
  width: 200px;
  height: 45px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color:#8BC6EC;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: all 250ms ease-in-out 0ms;
}
.container button:hover {
  letter-spacing: 0.02rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1),
              0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.mini-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mini-nav a {
  text-decoration: none;
}
.user-login {
  color: #8BC6EC;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  transition: all 250ms ease-in-out 0ms;
}
.icon-settings {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 250ms ease-in-out 0ms;
}
.icon-settings:hover {
  opacity: 1;
}
.icon-label {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-45%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in 0ms;
}
.icon-label:before {
  content: '';
  position: absolute;
  border: 8px solid transparent; 
  border-bottom: 8px solid rgba(0, 0, 0, 0.7);
  top: -16px;
}
.icon-settings:hover .icon-label {
  opacity: 1;
  visibility: visible; 
  bottom: -40px;
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body h1 {
  color: #fff;
  font-size: 64px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.newChannel {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 450ms ease;
  opacity: 0;
  transform: translateY(-100%);
}
.newChannel.show {
  opacity: 1;
  transform: translateY(0);
}

.newChannel h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.newChannel form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newChannel form input {
  width: 420px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
              0px 0px 10px 0px rgba(0, 0, 0, 0.2),
              0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  border: none;
  transition: all 250ms ease;
}
.newChannel form input:last-child {
  margin-bottom: 0;
  cursor: pointer;
  color: #fff;
  background-color:#8BC6EC;
}
.newChannel form input:last-child:hover {
  transform: translateY(3px);
  letter-spacing: 0.03rem;
  background-color:#5fa4d3;
}
.newChannel form input:last-child:hover:disabled {
  transform: translateY(0px);
  letter-spacing: 0rem;
  background-color:#8BC6EC;
  cursor: not-allowed;
}