@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

.login__container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 450px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 15px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
              0px 0px 10px 0px rgba(0, 0, 0, 0.2),
              0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease-in-out 0ms;
}
.login__wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.label__input:last-child {
  margin-left: auto;
  margin-bottom: 0px;
}
.label__input label {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.label__input input,
.label__input button {
  padding: 10px 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #8BC6EC;
  transition: all 250ms ease;
}
.label__input:nth-child(1) input,
.label__input:nth-child(2) input {
  width: 200px;
}
.label__input input:focus,
.label__input button:focus {
  outline: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
              0px 0px 10px 0px rgba(0, 0, 0, 0.2),
              0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.label__input:last-child button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),
              0px 0px 10px 0px rgba(0, 0, 0, 0.1),
              0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.label__input:last-child button:hover:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 425px) {
  .login__wrapper {
    max-width: 400px;
    height: 350px;
  }
}